body, html {
    height: 100%;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    /* font-weight: 10; */
    margin-top: 0;
    overflow-x: hidden;
    overflow-x: hidden;
}

p {
    text-align: justify;
    font-size: 16px;
    /* padding: 5px; */
}
ul {
    text-align: justify;
    font-size: 16px;
    padding: 5px;
}

.testimonial {
    padding: 20px;
    text-align: center;
    border: 2px solid #8429c2;
    margin: 2em 0;
    position: relative;
}

.creator {
    background: url(https://res.cloudinary.com/dohqthrfv/image/upload/v1650349189/WealthAvatarr/testimony-1_hmvxhf.png) no-repeat;
    background-size: contain;
}

.testimonial h3 {
    color: #A52A2A;
    font-size: 1.4em;
}

.testimonial p {
    font-size: 1em;
    color: #222;
    font-style: italic;
	text-align: center;
}

.testimonial {
    padding: 20px;
    text-align: center;
    border: 2px solid #A52A2A;
    margin: 2em 0;
    position: relative;
	border-radius: 0.5rem;
}

.ruler {
    background: url(https://res.cloudinary.com/dohqthrfv/image/upload/v1650349189/WealthAvatarr/testimony-1_hmvxhf.png) no-repeat;
    background-size: contain;
}

.testimonial img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(2px 2px 3px #000);
}

.testimonial-header{
	margin-bottom: 10px;
	justify-content: center;
	display: flex;
}

.testimonial-header h2 {
	margin-top: 10px;
	vertical-align: middle;
	text-transform: uppercase;
	margin-top: 13px;
	color: #A52A2A;
}

.testimonial-header .logo-img{
	width: 300px;
	height: 60px;
	margin: 8px 10px;
	filter: drop-shadow(1px 1px 1px #000);
}

.testimonial-profile p {
    font-size: .9em;
    line-height: 1em;
}

.archetype-sm {
    width: 50px;
    height: 50px;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.3)));
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -25px;
}



.sub-header {
    padding: 0.5em;
    text-transform: uppercase;
    color: #8429c2;
    font-size: 2em;
    letter-spacing: 3px;
    clear: both;
    box-shadow: none;
    border-bottom: 1px solid #8429c2;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* ADVERSARY */

.adversary-img::before {
    border-top: 3px solid rgb(255,140,0);
    content: "";
    height: 0;
    left: 0;
    margin-right: 40px;
    position: absolute;
    right: 55%;
    top: 49px;
}
.adversary-img::after {
    border-top: 3px solid rgb(255,140,0);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 49px;
    left: 55%;
    margin-left: 40px;
    right: 0;
}
.adversary-img {
    display: block;
    margin: 20px 0;
    text-align: center;
    min-height: 20px;
    position: relative;
    filter: drop-shadow(0 0 10px rgb(255,140,0));
    z-index: 1;
    top: 2em;
}

.sub-header-adversary {
    padding: 0.5em;
    text-transform: uppercase;
    color: #FF8C00;
    font-size: 2em;
    letter-spacing: 3px;
    clear: both;
    box-shadow: none;
    border-bottom: 1px solid #8429c2;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.hero-adversary {
    height: 100%;
    background-color: rgb(51, 19, 40);
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    background-image: linear-gradient(rgb(152,83,0), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dohqthrfv/image/upload/v1649316798/WealthAvatarr/background33_b7qxr9.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* end of adversary*/

/* BANKER*/

.banker-img::before {
    border-top: 3px solid rgb(60,179,113);
    content: "";
    height: 0;
    left: 0;
    margin-right: 40px;
    position: absolute;
    right: 55%;
    top: 49px;
}
.banker-img::after {
    border-top: 3px solid rgb(60,179,113);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 49px;
    left: 55%;
    margin-left: 40px;
    right: 0;
}
.banker-img {
    display: block;
    margin: 20px 0;
    text-align: center;
    min-height: 20px;
    position: relative;
    filter: drop-shadow(0 0 10px rgb(60,179,113));
    z-index: 1;
    top: 2em;
}

.sub-header-banker {
    padding: 0.5em;
    text-transform: uppercase;
    color: rgb(60,179,113);
    font-size: 2em;
    letter-spacing: 3px;
    clear: both;
    box-shadow: none;
    border-bottom: 1px solid rgb(60,179,113);
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.hero-banker {
    height: 100%;
    background-color: rgb(51, 19, 40);
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    background-image: linear-gradient(rgb(85,107,47), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dohqthrfv/image/upload/v1649314905/WealthAvatarr/background-9_owd6ys.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* end of banker*/

/* capitalist*/

.capitalist-img::before {
    border-top: 3px solid rgb(255,20,147);
    content: "";
    height: 0;
    left: 0;
    margin-right: 40px;
    position: absolute;
    right: 55%;
    top: 49px;
}
.capitalist-img::after {
    border-top: 3px solid rgb(255,20,147);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 49px;
    left: 55%;
    margin-left: 40px;
    right: 0;
}
.capitalist-img {
    display: block;
    margin: 20px 0;
    text-align: center;
    min-height: 20px;
    position: relative;
    filter: drop-shadow(0 0 10px rgb(255,20,147));
    z-index: 1;
    top: 2em;
}

.sub-header-capitalist {
    padding: 0.5em;
    text-transform: uppercase;
    color: rgb(255,20,147);
    font-size: 2em;
    letter-spacing: 3px;
    clear: both;
    box-shadow: none;
    border-bottom: 1px solid rgb(255,20,147);
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.hero-capitalist {
    height: 100%;
    background-color: rgb(51, 19, 40);
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    background-image: linear-gradient(rgb(144, 12, 63), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dohqthrfv/image/upload/v1649314924/WealthAvatarr/background-8_cujxy6.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* end of capitalist*/

/* conqueror*/

.conqueror-img::before {
    border-top: 3px solid rgb(255,0,255);
    content: "";
    height: 0;
    left: 0;
    margin-right: 40px;
    position: absolute;
    right: 55%;
    top: 49px;
}
.conqueror-img::after {
    border-top: 3px solid rgb(255,0,255);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 49px;
    left: 55%;
    margin-left: 40px;
    right: 0;
}
.conqueror-img {
    display: block;
    margin: 20px 0;
    text-align: center;
    min-height: 20px;
    position: relative;
    filter: drop-shadow(0 0 10px rgb(255,0,255));
    z-index: 1;
    top: 2em;
}

.sub-header-conqueror {
    padding: 0.5em;
    text-transform: uppercase;
    color: 	rgb(128,0,128);
    font-size: 2em;
    letter-spacing: 3px;
    clear: both;
    box-shadow: none;
    border-bottom: 1px solid 	rgb(128,0,128);
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.hero-conqueror {
    height: 100%;
    background-color: rgb(51, 19, 40);
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    background-image: linear-gradient(rgb(75,0,130), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dohqthrfv/image/upload/v1649314931/WealthAvatarr/background7_sfboxc.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* end of conqueror*/

/* giver*/

.giver-img::before {
    border-top: 3px solid 	rgb(255,255,51);
    content: "";
    height: 0;
    left: 0;
    margin-right: 40px;
    position: absolute;
    right: 55%;
    top: 49px;
}
.giver-img::after {
    border-top: 3px solid 	rgb(255,255,51);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 49px;
    left: 55%;
    margin-left: 40px;
    right: 0;
}
.giver-img {
    display: block;
    margin: 20px 0;
    text-align: center;
    min-height: 20px;
    position: relative;
    filter: drop-shadow(0 0 10px rgb(255,255,51));
    z-index: 1;
    top: 2em;
}

.sub-header-giver {
    padding: 0.5em;
    text-transform: uppercase;
    color: 	rgb(153,153,0);
    font-size: 2em;
    letter-spacing: 3px;
    clear: both;
    box-shadow: none;
    border-bottom: 1px solid rgb(153,153,0);
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.hero-giver {
    height: 100%;
    background-color: rgb(51, 19, 40);
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    background-image: linear-gradient(rgb(102,102,0), rgba(0, 0, 0, 0.5)), url("../assets/img/image/background5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* end of giver*/

/*influencer*/

.influencer-img::before {
    border-top: 3px solid rgb(30,144,255);
    content: "";
    height: 0;
    left: 0;
    margin-right: 40px;
    position: absolute;
    right: 55%;
    top: 49px;
}
.influencer-img::after {
    border-top: 3px solid rgb(30,144,255);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 49px;
    left: 55%;
    margin-left: 40px;
    right: 0;
}
.influencer-img {
    display: block;
    margin: 20px 0;
    text-align: center;
    min-height: 20px;
    position: relative;
    filter: drop-shadow(0 0 10px rgb(30,144,255));
    z-index: 1;
    top: 2em;
}

.sub-header-influencer {
    padding: 0.5em;
    text-transform: uppercase;
    color: 	rgb(0,0,255);
    font-size: 2em;
    letter-spacing: 3px;
    clear: both;
    box-shadow: none;
    border-bottom: 1px solid rgb(0,0,255);
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.hero-influencer {
    height: 100%;
    background-color: rgb(51, 19, 40);
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    background-image: linear-gradient(rgb(0,0,139), rgba(0, 0, 0, 0.5)), url("../assets/img/image/background6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* end of influencer*/

/* salesperson*/

.salesperson-img::before {
    border-top: 3px solid rgb(255,0,0);
    content: "";
    height: 0;
    left: 0;
    margin-right: 40px;
    position: absolute;
    right: 55%;
    top: 49px;
}
.salesperson-img::after {
    border-top: 3px solid rgb(255,0,0);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 49px;
    left: 55%;
    margin-left: 40px;
    right: 0;
}
.salesperson-img {
    display: block;
    margin: 20px 0;
    text-align: center;
    min-height: 20px;
    position: relative;
    filter: drop-shadow(0 0 10px rgb(255,0,0));
    z-index: 1;
    top: 2em;
}

.sub-header-salesperson {
    padding: 0.5em;
    text-transform: uppercase;
    color: 	rgb(220,20,60);
    font-size: 2em;
    letter-spacing: 3px;
    clear: both;
    box-shadow: none;
    /* border-bottom: 1px solid rgb(220,20,60); */
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.hero-salesperson {
    height: 100%;
    background-color: rgb(51, 19, 40);
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    background-image: linear-gradient(rgb(128,0,0), rgba(0, 0, 0, 0.5)), url("../assets/img/assets/img/image/architype-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/* end of salesperson*/

/* Place text in the middle of the image */
.hero-text {
    align-items: center;
    margin-top: 5px;    
    width: 80%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 2em;
}

/* End of hero image */



/* Form */
/* .container{
    margin-top: 0px;
    place-items: center;
    align-items: center;
    position: relative;
    display: flex;
} */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container-bg{
  background-color: #fff;
}

.input-box{
    display: -ms-flexbox;
    text-align: center;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.input-box .icon{
    text-align: center;
    font-size: 20px;
    border: 1px solid rgb(51, 19, 40);
    margin-top: 0px;
    padding: 10px;
    background-color: rgb(51, 19, 40);
    width: 50px;
    
}

.input-box input{
    background-color: #fff;
    outline: none;
    border: 2px solid rgb(51, 19, 40);
    padding: 5px 12px;
    justify-content: center;
    width: 400px;
    color: #000;
}

.input-box input::placeholder{
    color: #000;
    opacity: .8;
}

/* End of Form */

.nav {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav .btn{
    text-align: center;
    color:#000000;
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    font-size: 15px;
    margin: 0px 10px 25px 10px;
    display: block;
    margin-top: 2em;
    background-color: #B2AB99;
}
.nav .btn .nav-title{
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
}

.nav .btn .nav-subtitle{
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 600;
} 

.nav .btn:hover {
    background-color: #726950;
    color: white;
  }
  
.nav .btn-oto{
    text-align: center;
    color:#ffff;
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 8px;
    width: 15%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    font-size: 15px;
    margin: 0px 10px 25px 10px;
    display: block;
    margin-top: 1.5em;
}
.nav .btn-oto .nav-title{
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
}

.nav .btn-oto:hover {
    background-color: rgb(51, 19, 40);
    color: white;
  }

.nav-button-active {
	 /* background-color: rgb(51, 19, 40) !important; */
	 background-color: #A79017 !important;
    color: blue !important;
    /* color: white !important; */
}

.header-welcome {
  color: white; 
  background-color: #726950;
  padding: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}
.btn-next {
  color:#ffff;
  background-color: Transparent;
  background-repeat:no-repeat;
  border-radius: 8px;
  width: 15%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  margin: 0px 10px 25px 10px;
  display: block;
  margin-top: 1.5em;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
  padding-bottom: 5px;
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(0, 0, 0, 0.55);
    --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.125rem;
    --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    /* --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); */
    /* --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1); */
      --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    --bs-navbar-toggler-border-color: #ffffff;
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    /* --bs-navbar-toggler-border-radius: 0.5rem; */
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
    border-bottom: 3px solid #958A6D;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-sm,
  .navbar > .container-md,
  .navbar > .container-lg,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
  }
  .navbar-brand:hover, .navbar-brand:focus {
    color: var(--bs-navbar-brand-hover-color);
  }
  
  .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .navbar-nav .show > .nav-link,
  .navbar-nav .nav-link.active {
    color: var(--bs-navbar-active-color);
  }
  .navbar-nav .dropdown-menu {
    position: static;
  }

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: #1e2125;
    background-color: #e9ecef;
}
  
  .navbar-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--bs-navbar-color);
  }
  .navbar-text a,
  .navbar-text a:hover,
  .navbar-text a:focus {
    color: var(--bs-navbar-active-color);
  }
  
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  
  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }
  @media (prefers-reduced-motion: reduce) {
    .navbar-toggler {
      transition: none;
    }
  }
  .navbar-toggler:hover {
    text-decoration: none;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  
  .navbar-nav-scroll {
    max-height: var(--bs-scroll-height, 75vh);
    overflow-y: auto;
  }
  
  @media (min-width: 576px) {
    .navbar-expand-sm {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    .navbar-expand-sm .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-sm .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler {
      display: none;
    }
    .navbar-expand-sm .offcanvas {
      position: static;
      z-index: auto;
      flex-grow: 1;
      width: auto !important;
      height: auto !important;
      visibility: visible !important;
      background-color: transparent !important;
      border: 0 !important;
      transform: none !important;
      transition: none;
    }
    .navbar-expand-sm .offcanvas .offcanvas-header {
      display: none;
    }
    .navbar-expand-sm .offcanvas .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
  @media (min-width: 768px) {
    .navbar-expand-md {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    .navbar-expand-md .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler {
      display: none;
    }
    .navbar-expand-md .offcanvas {
      position: static;
      z-index: auto;
      flex-grow: 1;
      width: auto !important;
      height: auto !important;
      visibility: visible !important;
      background-color: transparent !important;
      border: 0 !important;
      transform: none !important;
      transition: none;
    }
    .navbar-expand-md .offcanvas .offcanvas-header {
      display: none;
    }
    .navbar-expand-md .offcanvas .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    .navbar-expand-lg .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
    .navbar-expand-lg .offcanvas {
      position: static;
      z-index: auto;
      flex-grow: 1;
      width: auto !important;
      height: auto !important;
      visibility: visible !important;
      background-color: transparent !important;
      border: 0 !important;
      transform: none !important;
      transition: none;
    }
    .navbar-expand-lg .offcanvas .offcanvas-header {
      display: none;
    }
    .navbar-expand-lg .offcanvas .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
  @media (min-width: 1200px) {
    .navbar-expand-xl {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-xl .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    .navbar-expand-xl .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-xl .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-xl .navbar-toggler {
      display: none;
    }
    .navbar-expand-xl .offcanvas {
      position: static;
      z-index: auto;
      flex-grow: 1;
      width: auto !important;
      height: auto !important;
      visibility: visible !important;
      background-color: transparent !important;
      border: 0 !important;
      transform: none !important;
      transition: none;
    }
    .navbar-expand-xl .offcanvas .offcanvas-header {
      display: none;
    }
    .navbar-expand-xl .offcanvas .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
  @media (min-width: 1400px) {
    .navbar-expand-xxl {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-xxl .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-xxl .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-xxl .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
    }
    .navbar-expand-xxl .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-xxl .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-xxl .navbar-toggler {
      display: none;
    }
    .navbar-expand-xxl .offcanvas {
      position: static;
      z-index: auto;
      flex-grow: 1;
      width: auto !important;
      height: auto !important;
      visibility: visible !important;
      background-color: transparent !important;
      border: 0 !important;
      transform: none !important;
      transition: none;
    }
    .navbar-expand-xxl .offcanvas .offcanvas-header {
      display: none;
    }
    .navbar-expand-xxl .offcanvas .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
  .navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
  .navbar-expand .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand .navbar-toggler {
    display: none;
  }
  .navbar-expand .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }
  .navbar-expand .offcanvas .offcanvas-header {
    display: none;
  }
  .navbar-expand .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
  
  .navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 0.55);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  
.header-logo {
    /*filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));*/
    /* width: 200px; */
    position: relative;
    margin: 5px auto;
  }
.header-logo img {
  height: 30px;
}
  
.img-fluid {
    max-width: 100%;
    height: auto;
  }


  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.section-1 {
    background: url(../assets/img/image/architype-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    position: relative;
}

h2.frame {
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    background: url(../assets/img/image/caregiver.png) no-repeat center center;
    padding-top: 65px;
    margin-top: 70px;
}
h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

.img-intext {
    float: right;
    clear: both;
    filter: drop-shadow(0px 5px 15px rgba(0,0,0,.15));
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.3)));
    width: 40%;
    margin: 20px;
    margin-bottom: 40px;
}

.my-row {
    background-color: rgb(51, 19, 40);
}

.row .btn {
    color:#ffff;
    background-color: #A79017;
    background-repeat:no-repeat;
    border-radius: 8px;
    width: 40%;
    padding: 5px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 2em
}

.row .btn:hover {
    background-color: #726950;
    color: white;
  }

.row .btn-next {
    color:#ffff;
    background-color: #8429c2;
    background-repeat:no-repeat;
    border-radius: 8px;
    width: 10%;
    padding: 5px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 2em;
    text-decoration: none;
}

.row .btn-oto3-download {
    color:#ffff;
    background-color: #A79017;
    background-repeat:no-repeat;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 2em;
    text-decoration: none;
}

.row .btn-oto3-header {
    color:#ffff;
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 8px;
    width: 20%;
    padding: 5px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 2em;
    text-align: center;
}

.btn-watch {
    font-family: Helvetica;
    background-repeat:no-repeat;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    width: 30%;
    border: 1px solid #726950;
    border-radius: 30px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    transition-duration: 0.4s;
    font-size: 17px;
    margin: 0 auto;
    display: block;
    margin-top: 2em
}

.btn-watch:hover {
    background-color: #bead7d;
  }

.btn-click {
    font-family: Garamond;
    background-repeat:no-repeat;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #726950;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    transition-duration: 0.4s;
    font-size: 20px;
    margin: 1.2rem 2rem;
    display: block;
}

.btn-watch:hover {
    background-color: #bead7d;
  }

.paav2-cta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.paav2-cta:hover {
  
    box-shadow: 0 3px 3px 0 rgb(128,0,128);
  }

.paav2-cover {
    position: relative;
    display: inline-block;
    height: auto;
    width: 520px;
}
.security-text {
    font-size: 14px;
    line-height: 1;
    color: #fff;
}

.payment-options {
    margin: 1em auto;
    display: inline-block;
    position: relative;
    max-width: 300px;
    width: 100%;
}
.cta-guarantee {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    display: inline-block;
}

.cta-link {
    color: #fff;
    text-decoration: underline;
    display: block;
    margin: 1em auto;
}

.img-mw600 {
    
    display: block;
    margin: auto;
    width: 100%;
}

a {
    cursor: pointer;
    color: white !important;
}

.reg-price {
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

.glow {
    text-shadow: 0 0 15px #fff, 0 0 20px #fff;
}
.reg-price {
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

.paav2-cta {
    background: linear-gradient(45deg,#000000,#d1b875);
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
    border-radius: 0.5em;
    padding: 1em;
    width: 100%;
    margin: 2em auto;
}

.paav2-cover {
    position: relative;
    display: inline-block;
    height: auto;
    width: 120%;
}

.cta-btn {
	white-space: normal;
	margin: 1em auto;
	border-radius: 100px;
	background: red;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
	font-weight: 700;
	padding: 0.5em 1em;
	display: block;
	font-size: 1.5em;
}

.cta-btn:hover {
    background-color: #FFD700; /* Gold */
    color: #000;
  }

.cta-guarantee {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    display: inline-block;
}

.payment-options {
    margin: 1em auto;
    display: inline-block;
    position: relative;
    max-width: 250px;
    width: 100%;
}

.row .btn:hover {
    background-color: rgb(51, 19, 40);
    color: white;
  }

.row .btn-oto3-download:hover {
    background-color: rgb(51, 19, 40);
    color: white;
  }
   
  .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.card {
    /* Add shadows to create the "card" effect */
    
    /* width: 70rem; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 40px;
    outline-width: 1px;
  }
  
  /* On mouse-over, add a deeper shadow */
  /* .card:hover {
  
    box-shadow: 0 8px 16px 0 rgb(128,0,128);
  } */

  .w-100 {
    width: 100%!important;
}


  .footer-logo {
    /*filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));*/
    width: 200px;
    position: relative;
    margin: 5px auto;
    font-size: 23px;
}

.purple {
    color:rgb(128,0,128);
}
.pink {
    color:rgb(255,20,147);
}

  #footer {
    width: 100%;
    /* background: #222; */
    background: #726950;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    position: fixed;
    margin-top: 50px;
    display: block;
    bottom: 0;
    margin: 0 auto;
}

#footer p {
    color: #fff;
    text-align: center;
}

.proof-container {
	position: fixed;
	bottom: 0;
	padding: 30px;
	float: left;
}

.bubble1 .image {
	display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    height: 59px;
    width: 59px;
}

.bubble1 .image img {
	border-radius: 50%;
    height: 59px;
    width: 59px;
}

.bubble1 {
	background: #333 !important;
    width: 330px !important;
    margin: 0 auto;
    height: 65px;
    overflow: hidden;
    position: relative;
    border-radius: 40px;
    box-shadow: 0 0 1px rgb(0 0 0 / 20%), 0 1px 2px rgb(0 0 0 / 5%), 0 8px 50px rgb(0 0 0 / 5%);
    line-height: 1.15 !important;
}

.bubble1 .content {
	margin-left: 70px;
    margin-right: 30px;
    padding: 5px 0px 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#who,
.what1 {
	text-overflow: ellipsis;
    width: 235px;
    overflow: hidden;
    white-space: nowrap;
}

#who {
	
	color: #fff !important;
}

.who1 {
	font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-feature-settings: "kern","liga","pnum";
    font-size: 13px;
	color: #000;
}

#what {
	font-size: 14px;
	color: #fff769 !important;
}

.when1 {
	font-size: 13px;
	color: #ffd9d9 !important;
}

#proof-popup.hide-proof {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.4s linear;
}

#proof-popup.show-proof {
	display: block;
}

#proof-popup.show-proof {
	opacity: 1;
	-webkit-animation: shootUp 1100ms linear both;
	animation: shootUp 1100ms linear both;
}

@media screen and (max-width: 767px) {
	#proof-popup {
		left: 0px;
		right: 0;
		bottom: 15px;
		margin: 0;
		position: fixed;
		z-index: 999999999999 !important;
	}
}

.button-go-up {
	color:#ffff;
  background-color: #726950;
  background-repeat:no-repeat;
  border-radius: 8px;
  padding: 10px 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  margin-top: 2em
}

.tick-list{
	list-style: none;
	padding-left: 15px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.tick-list i{
	color: green;
	font-size: 22px;
	margin-right: 16px;
}

.tick-list .indent {
	margin-left: 1.5rem
}

.tick-list span{
	color: red;
}


.divider-custom {
  margin: .25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff;
}

audio {
  border-radius: 25px;
	box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
}

.curve-border {
  border: 1px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  /* padding: 0.1rem; */
  padding: 0.5rem 0.9rem; /* Add padding to control the width of the curved border */
}

.btn-readmore{
  background-image: linear-gradient(to right, #FFD700, #D4AF37), 
                    linear-gradient(to right, #FFD700, #D4AF37);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn-readmore {
        transition: none;
    }
}

.btn-readmore:hover {
    color: white; 
}
/* Custom styling for the image */
.custom-image {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* Position the download button at the bottom of the image */
.image-container {
    position: relative;
}

.download-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
    background-color:#FFF9EC;
    opacity: 85%;
    text-align: center;
}
/* Rodel css */

.styled-text-title {
    font-family: Lucida Console; 
    font-size: 4rem; 
    color: #AF846D;
    line-height: 1.5; /* Sets the line height for spacing between lines */
    letter-spacing: 5px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
}

.styled-text-title-challeges {
    font-family: Lucida Console; 
    font-size: 4rem; 
    color: #6D4B34;
    line-height: 1.5; /* Sets the line height for spacing between lines */
    letter-spacing: 5px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
}

.styled-text-title-wealth {
    font-family: Lucida Console; 
    font-size: 6rem; 
    color: #6D4B34;
    line-height: 1.5; /* Sets the line height for spacing between lines */
    letter-spacing: 5px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
}

.styled-text-wealth  {
    font-family: Garamond; 
    color: #ffffff;
    font-size: 3rem; 
    letter-spacing: 5px; /* Adds letter spacing between characters */
}

.styled-text-title-guide {
    font-family: Lucida Handwriting; 
    font-size: 5rem; 
    color: #6D4B34;
    line-height: 1.5; /* Sets the line height for spacing between lines */
    letter-spacing: 5px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
}

.styled-text-guide {
    font-family: Helvetica; 
    color: #423F32;
    font-size: 2rem; 
    letter-spacing: 2px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
}

.styled-text-title-formula {
    font-family: Garamond; 
    color: #AF846D;
    font-size: 6rem; 
    letter-spacing: 3px; /* Adds letter spacing between characters */
}
.styled-text-formula {
    font-family: Helvetica; 
    color: #6D4B34;
    font-size: 1.5rem; 
    letter-spacing: 1px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
}

.styled-text-sub-formula {
    font-family: Garamond; 
    color: #AF846D;
    font-size: 4rem; 
    font-display: bold;
    letter-spacing: 5px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
    text-transform:uppercase;
}

.styled-text {
    font-family: Garamond; 
    color: #AF846D;
    font-size: 2.5rem; 
    letter-spacing: 5px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
}

.styled-sub-text {
    font-family: Helvetica; 
    color: #6D4B34;
    letter-spacing: 1px; /* Adds letter spacing between characters */
    font-size: 1.7rem;
}

.styled-sub-text-formula {
    font-family: Helvetica; 
    color: #AF846D;
    letter-spacing: 1px; /* Adds letter spacing between characters */
    font-size: 1.7rem;
}

.styled-text-sub-title-formula {
    font-family: Garamond; 
    color: #AF846D;
    font-size: 2rem; 
    letter-spacing: 5px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
    text-transform:uppercase;
}

.styled-text-sub-title {
    font-family: Garamond; 
    color: #AF846D;
    font-size: 2rem; 
    letter-spacing: 5px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
    text-transform:uppercase;
}

.styled-text-super {
    font-family: Garamond; 
    color: #AF846D;
    font-size: 3rem; 
    letter-spacing: 5px; /* Adds letter spacing between characters */
    margin-bottom: 10px; /* Adds spacing below the text */
    text-transform:uppercase;
}

.cta-image {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    height: auto;
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
}

.container-subheading {
    padding: 20px 80px;
    background-color: #ffffff; 
}

.container-weaknesses {
    padding: 20px 80px;
    background-color: #D7C07C; 
}

.container-wealth-challenges {
    padding: 20px 80px;
    background-color: #C1A460; 
}

.container-wealth-guide {
    padding: 20px 80px;
    background-color: #D7C07C; 
}
.container-formula {
    /* width: 100%;
    margin: 0 auto;
    padding: 0px 80px;
    background-color: #ffffff;  */
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.decorative-border {
    display: inline-block;
    padding: 20px;
    position: relative;
    border: 2px solid #AF846D; /* Base border color */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflow of the pseudo-elements */
}

.decorative-border::before,
.decorative-border::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #AF846D; /* Border color */
}

.decorative-border::before {
    top: -6px;
    left: -3px;
    transform: rotate(45deg);
}

.decorative-border::after {
    bottom: -6px;
    right: -3px;
    transform: rotate(-45deg);
}

.decorative-border-weak {
    display: inline-block;
    padding: 20px;
    position: relative;
    border: 2px solid #6D4B34; /* Base border color */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflow of the pseudo-elements */
}

.decorative-border-weak::before,
.decorative-border-weak::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #6D4B34; /* Border color */
}

.decorative-border-weak::before {
    top: -6px;
    left: -3px;
    transform: rotate(45deg);
}

.decorative-border-weak::after {
    bottom: -6px;
    right: -3px;
    transform: rotate(-45deg);
}

.decorative-border-guide {
    display: inline-block;
    padding: 20px;
    position: relative;
    border: 2px solid #6D4B34; /* Base border color */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflow of the pseudo-elements */
}

.decorative-border-guide::before,
.decorative-border-guide::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #6D4B34; /* Border color */
}

.decorative-border-guide::before {
    top: -6px;
    left: -3px;
    transform: rotate(45deg);
}

.decorative-border-guide::after {
    bottom: -6px;
    right: -3px;
    transform: rotate(-45deg);
}

.p-style {
    font-family: Garamond; 
    color: #6D4B34;
    font-size: 1.5rem;
}

.p-style-challenges {
    font-family: Garamond; 
    color: #423F32;
    font-size: 2rem;
}

.p-style-formula {
    font-family: Garamond; 
    color: #AF846D;
    font-size: 1.5rem;
}

.p-style-guide {
    font-family: Garamond; 
    color: #423F32;
    font-size: 1.5rem;
}

.container-wealth-guide li {
    font-family: Garamond; 
    color: #6D4B34;
    font-size: 1.5rem;
}

.container-wealth-guide p {
 font-family: Garamond; 
 color: #423F32;
}

.span-box{
    font-family: Helvetica; 
    font-size: 1rem;
    color: #000000;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}
.btn:hover {
    color: #212529;
}
.line-spacing {
    line-height: 1;
}